[submodule "vm-setup"]
	path = vm-setup
	url = https://github.com/epics-training/training-vm
[submodule "areadetector-training"]
	path = areadetector-training
	url = https://github.com/epics-training/areadetector-training
