[submodule "vm-setup"]
	path = vm-setup
	url = https://github.com/epics-training/training-vm
[submodule "areadetector-training"]
	path = areadetector-training
	url = https://github.com/epics-training/areadetector-training
[submodule "epics7-overview"]
	path = epics7-overview
	url = https://github.com/epics-training/epics7-overview
[submodule "opcua-support"]
	path = opcua-support
	url = https://github.com/epics-training/opcua-support
	branch = main
[submodule "phoebus-training"]
	path = phoebus-training
	url = https://github.com/epics-training/phoebus-training
	branch = main
